@import "tailwindcss";
@import "tw-animate-css";

body {
    background-color: var(--background);
    color: var(--foreground);
}

button {
    cursor: pointer;
}

::view-transition-old(root) {
    animation-delay: 600ms;
}

::view-transition-new(root) {
    animation: circle-in 600ms ease-in;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #0a0a0a;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #636369;
    border-radius: 0px;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-bitcount: var(--font-bitcount);
    --font-montserrat: var(--font-montserrat);
    --color-primary-gray: var(--primary-gray);
    --color-primary-dark-gray: var(--primary-dark-gray);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: #101113;
    --primary: #0d6efd;
    --primary-foreground: oklch(0.985 0 0);
    --primary-gray: #6c757d;
    --primary-dark-gray: #dee2e6;
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --primary: #0d6efd;
    --primary-foreground: oklch(0.205 0 0);
    --primary-gray: #acacac;
    --primary-dark-gray: #212529;
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@keyframes flashing {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 30%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes circle-in {
    from {
        clip-path: circle(0% at 50% 0%);
    }
    to {
        clip-path: circle(130% at 50% 0%);
    }
}

.group:hover .test {
    animation: flashing 250ms cubic-bezier(0.2, 0.65, 0.6, 1);
    animation-iteration-count: 2;
    opacity: 100%;
}
